
/* Inline: não quebra a linha e largura mínima, só aceita margin e padding na horizontal */
.inline {
   display: inline;
}


/* Block: quebra de linha, largura máxima */
.block {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px
}

/* Não quebra linha,  */
.inline-block {
    display: inline-block;
}